<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      internalLogLevel="info">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Syslog"/>
	</extensions>

	<targets>
		<target xsi:type="Console" name="console">
			<layout xsi:type="MicrosoftConsoleJsonLayout" includeScopes="true" />
		</target>
		<target xsi:type="Syslog" name="syslog">
			<sl:layout xsi:type="SimpleLayout" text="${message}" />
			<sl:messageSend>
				<sl:udp server="127.0.0.1" port="514" />
			</sl:messageSend>
			<sl:messageCreation>
				<sl:facility>Local0</sl:facility>
				<sl:rfc>Rfc5424</sl:rfc>
				<sl:rfc5424>
					<sl:appName xsi:type="SimpleLayout" text="events" />
				</sl:rfc5424>
			</sl:messageCreation>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="console"/>
		<logger name="xe.data.service.*" minlevel="Debug" writeTo="console" final="true" />
	</rules>
</nlog>